<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon [matBadge]="likeCount()" matBadgeColor="accent" matBadgeSize="medium" aria-label="Like">favorite
      </mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()">
      <mat-icon [matBadge]="dislikeCount()" matBadgeColor="accent" matBadgeSize="medium" aria-label="Dislike">
        thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="deleteComment()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>